<?xml version="1.0"?>
<robot name="open_manipulator_zed" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 1. Include OpenManipulator-X -->
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.urdf.xacro" />
  
  <!-- 2. Include ZED 2i Description (Use zed_description, NOT zed-ros2-description) -->
  <xacro:include filename="$(find zed_description)/urdf/zed_macro.urdf.xacro" />

  <!-- 3. Include Custom Sensor Macro (Use vision_tracker, NOT tool_tracker) -->
  <xacro:include filename="$(find tool_tracker)/urdf/camera_sensor.xacro" />

  <!-- World Frame -->
  <link name="world"/>

  <!-- Attach Manipulator Base to World -->
  <joint name="world_to_arm_joint" type="fixed">
    <parent link="world"/>
    <child link="link1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Instantiate ZED 2i Model -->
  <xacro:zed_camera name="zed2i" model="zed2i" />

  <!-- Attach ZED 2i Camera to World -->
  <joint name="world_to_zed_joint" type="fixed">
    <parent link="world"/>
    <child link="zed2i_camera_link"/>
    <origin xyz="0.6 0.0 0.4" rpy="0 0.35 3.14159"/>
  </joint>

  <!-- Attach Gazebo RGB-D Sensor to ZED 2i Optical Frame -->
  <xacro:zed2i_gazebo_sensor parent_link="zed2i_left_camera_optical_frame"/>

</robot>