<?xml version="1.0" encoding="UTF-8"?>
<robot name="panda_vision_stage" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 1. Include Pre-installed Panda Xacro -->
  <xacro:include filename="$(find tool_tracker)/urdf/panda.urdf" />
  <!-- <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda.urdf" />
  <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda_ros2_control.xacro" /> -->

  <!-- <xacro:panda_ros2_control 
    name="PandaGazeboHardware" 
    plugin_name="gz_ros2_control/GazeboSimSystem" /> -->

  <!-- 2. Single Root Link Definition -->
  <link name="world"/>

  <joint name="world_to_panda" type="fixed">
    <parent link="world"/>
    <child link="panda_link0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- 3. Fixed Overhead Camera Looking at End-Effector -->
  <link name="camera_link">
    <visual>
      <geometry><box size="0.05 0.05 0.05"/></geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="camera_link"/>
    <origin xyz="0.8 0.0 1.2" rpy="0 0.785 3.14159"/>
  </joint>

  <!-- Gazebo Camera Plugin -->
  <gazebo reference="camera_link">
    <!-- <plugin filename="gz_ros2_control-system" name="gz_ros_2_control::GazeboSimROS2ControlPlugin">
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find tool_tracker)/config/panda_controllers.yaml</parameters>
    </plugin> -->

    <!-- <plugin filename="gz_ros2_control-system" name="gz_ros_2_control::GazeboSimROS2ControlPlugin">
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(arg ros_control_config)</parameters>
    </plugin> -->
    
    <sensor type="camera" name="overhead_camera">
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <topic>camera/image_raw</topic>
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <far>0.1</far>
          <near>100.0</near>
        </clip>
      </camera>
    </sensor>
  </gazebo>

</robot>